@model IEnumerable<ibby_cms.Models.PageContentViewModel>


    <h3>Выбрать страницу</h3>
    <ul>
        @foreach(var item in Model) {
            <li>
                @item.Id
                @item.Header

                <button class="btn btn-primary">Выбрать</button>
            </li>
        }
    </ul>
