@{
    ViewBag.Title = "Admin panel";
}

<h2>Admin Panel</h2>

<ul>
    <li>
        @Html.ActionLink("Управление страницами", "ManagementPage")
    </li>
    <li>
        @Html.ActionLink("Настройки", "")
    </li>
</ul>
