@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}



<div class="container body-content">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Администрирование </h2>
            </div>
        </div>
        <p>
            Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
            Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
            Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        </p>
    </div>
</div>

