@model ibby_cms.Models.PageContentViewModel

@{
    ViewBag.Title = Html.DisplayFor(model => model.Header);
    ViewBag.Description = @Html.DisplayFor(model => model.Descriptions);
    ViewBag.Keywords = @Html.DisplayFor(model => model.KeyWords);

}

<h1>@Html.DisplayFor(model => model.Header)</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <p>@Html.Raw(Model.HtmlContent)</p>
            </div>
        </div>
    </div>
</div>